@model Plataforma_De_Recomendacion_De_Contenido.Models.Genero;
@{
    ViewData["Title"] = "Actualizar Genero";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Crear Genero Nuevo</h1>
@if (Model.GeneroId == 0)
{
    <h1>Crear Genero</h1>
}
else
{
    <h1>Editar Genero</h1>
}

<div class="row">
    <div class="col-sm-4">
        <form asp-action="Edit" asp-controller="Genero" method="post">
            <input type="hidden" asp-for="GeneroId" />
            <div class="mb-2">
                <label class="form-label" asp-for="Nombre">Nombre Genero</label>
                <input class="form-control form-control-sm" asp-for="Nombre" type="text" />
            </div>
            <div class="mb-2">
                <label class="form-label" asp-for="Detalle">Detalle Genero</label>
                <input class="form-control form-control-sm" asp-for="Detalle" type="text" />
            </div>
            <div class="mb-2">
                @if (Model.GeneroId == 0)
                {
                    <button class=" btn btn-primary btn-sm w-25" type="submit">Crear</button>
                }
                else
                {
                    <button class=" btn btn-primary btn-sm w-25" type="submit">Actualizar</button>
                }
                <a class="btn btn-dark btn-sm" asp-action="Index" asp-controller="Genero">Volver</a>
            </div>
        </form>
    </div>
</div>
